<% #add to view counter
if @question.views.nil?
  @question.views = 1
  @question.save
else
  @question.views = @question.views + 1
  @question.save
end 
%>

<div class="center">
	<div id="wrapper">
		<div id="shadow">
			<div id="question">
				<p>
					<em>
						<%= @question.question %></em><span>?</span>
				</p>
			</div>
			<div id="options">
				<%= form_tag(votes_path, :method => "post") do %>
				<div class="voting">
					<ul>
					
						<% @options.each do |option| %>
						<li><em><input type="radio" name="vote" value="<%= option.id %>"></em>  <%= option.option %> </li>
						<% end %>
					
					</ul>
				</div>
				<div class="buttons">
					<p>
					
					
					<input type="submit" value="vote"><em><a href="#" title=""> <%= @question.votes.count %> votes so far</a></em></p>
				</div>
				<% end %>
			</div>
		</div>
		<div id="footer">
			<%= render :partial => 'layouts/footer' %>
		</div>
	</div>
</div>
