<div id="results" data-id="<%= @question.id %>">





<div class="voting">
<div class="reswrap">

<ul>
	
	<% @question.options.each do |option| %>
	<li><p><%= option.option %></p><p class="stats">
	
	<%= option.votes.count %> votes | <%= @av*option.votes.count %>%
	</p><p class="bar"><em style="width: <%= @av*option.votes.count %>%"></em></p></li>
	<% end %>
	
</ul>

<div class="graph"><img src="http://chart.apis.google.com/chart?chs=370x225&cht=p&chco=C3C523&chd=t:<%= @votesgraph %>&chl=<%= @optionsgraph %>" /></div>



</div>
</div>

<div class="buttons">

<p><span>Results update in real time | <a href="#" title=""><%= @question.views %> views</a> and <a href="#"><%= @total %> votes.</a></span></p>



</div>