<div id="total">
	To date there have been a total of <span><%= @totalquestions %></span> questions and <span><%= @totalvotes %></span> votes. Each question has an average of <span><%= sprintf("%.02f" ,@averagevotes ) %></span> votes and roughly <span><%= sprintf("%.02f", @averageoptions) %></span> options. Oh, and right now there's <span><%= @onlinenow %></span> users online. 
</div>